* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    height: 50px;
    background-color: #262626
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, .6) 
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
}

.subheader .subheader_call {
    margin-top: 19px;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
    color: #ffffff;
}

.subheader .subheader_phone {
    display:block;
    margin-top: 8px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    color: #ffffff;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #64aac5, #8ce2fe);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.promo {
    min-height: 800px;
    background: url('../img/main.jpg') center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700px;
    text-transform: uppercase;
    line-height: 60px;
    margin:0;
    text-align: center;
}

.promo .promo_subheader {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700px;
    text-transform: uppercase;
    line-height: 36px;
    margin:0;
    margin-top: 22px;
    text-align: center;
} 

.promo .promo_descr {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; 
    text-align: center;
    margin-top: 23px;
    color: #ffffff;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0px -4px 0 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #64aac5, #8ce2fe);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.reasons {
    background-color: #fff;
    padding: 71px 0 65px 0;
}

.label {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.title {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.reasons .menu_reasons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 70px;
    margin-top: 35px;
}


.reasons .menu_reasons .reasons_text {
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    text-align: justify;
    color: #252525;
}

.reasons .menu_reasons .reasons_text span {
    line-height: 21px;
    font-size: 17px;
    font-weight: 700;
    color: #64aac5;
}

.reasons .menu_reasons .reasons_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
}
